@import "tailwindcss";

/* For a .ttf file */
@font-face {
  font-family: 'Batmip-Book';
  src: url('/fonts/BATMIP1.41-Book.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Batmip';
  src: url('/fonts/BATMIP1.41-Italic.otf') format('opentype');
  font-style: italic;
}

/* DM Mono */
@font-face {
  font-family: 'DM Mono';
  src: url('/fonts/DMMono-Regular.ttf') format('truetype');
  font-weight: 400; /* Normal */
  font-style: normal;
}

@font-face {
  font-family: 'DM Mono';
  src: url('/fonts/DMMono-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

/* EB Garamond (Variable Fonts) */
@font-face {
  font-family: 'EB Garamond';
  src: url('/fonts/EBGaramond-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 800; /* Variable fonts support a weight range */
  font-style: normal;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('/fonts/EBGaramond-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 800;
  font-style: italic;
}

@theme {
  --font-batmip: 'Batmip', sans-serif;
  --font-dm-mono: "DM Mono", monospace;
  --font-garamond: "EB Garamond", serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --navBar: #660D64;
  --main: #660D64;
  --dropDownBorder: #8A2974;
  --text: #a45d92;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-navBar: var(--navBar);
  --color-main: var(--text);
  --color-dropDownBorder: var(--dropDownBorder);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 15pt;
  font-family: 'EB Garamond', sans-serif;
}
